@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fdfdfd;
  --foreground: #09090b;
  
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  
  --accent: #f4f4f5;
  --accent-foreground: #18181b;
  
  --primary: #fbbf24;
  --primary-foreground: #000000;
  
  --border: #e4e4e7;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  
  --accent: #27272a;
  --accent-foreground: #fafafa;
  
  --primary: #fbbf24;
  --primary-foreground: #000000;
  
  --border: #27272a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  
  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
